<div class="reroute-text">
<h2><%=@blog_post.title%></h2>

<h4>by 
<%if @blog_post.user%>
<%=@blog_post.user.name.capitalize%></h4>
<%end%>

<h5><%=@blog_post.created_at%></h5><br><br>

<%=@blog_post.content%><br><br>


<%if @blog_post.user == current_user%>
<a href="/blog_posts/<%=@blog_post.id%>/edit">Edit Blog Post</a>

<%end%>
</div>