<h2>Welcome <%=current_user.name.capitalize%>!</h2>

<div class="user blog posts list">
<h3>Your Blog Posts</h3>
<%@user.blog_posts.each.with_index(1) do |blog, i|%>
    <%=i%>. <a href="/blog_posts/<%=blog.id%>"><%=blog.title%></a><br>
        <h5><%=blog.formatted_created_at%></h5>
<%end%> 
</div>  

<div class="items list">
<h3>Your Items</h3>
<%@user.items.each.with_index(1) do |item, i|%>
    <%=i%>. <a href="/items/<%=item.id%>"><%=item.name.capitalize%></a><br>
<%end%>
</div>

<div class="box list">
<h3>Your Boxes</h3>
<%@user.boxes.each.with_index(1) do |box, i|%>
    <%=i%>. <a href="/boxes/<%=box.id%>"><%=box.name.capitalize%></a><br>
<%end%>
</div>

<div class="category list">
<h3>Your Categories</h3>
<%@user.categories.each.with_index(1) do |category, i|%>
    <%=i%>. <a href="/categories/<%=category.id%>"><%=category.name.capitalize%></a><br>
<%end%>
</div>


