<h2>List of Your Items in the <%=@box.name.capitalize%> Box</h2>

<!-- 
x- list this boxes' items 
- create & add new item 
- edit box name
- delete item from box show page
-->

<%@box.items.each do |item|%>
    <a href="/items/<%=item.id%>"><%=item.name%></a><br><br>
<%end%>

<a href="/boxes/<%=@box.id%>/edit">Edit</a><br><br>

<form action="/boxes/<%=@box.id%>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete">
</form>