<div class="reroute-text">
    <h2><%=@item.name.capitalize%></h2>

    Category: <a href="/categories/<%=@item.category.id%>"><%=@item.category.try(:name) || "N/A"%></a><br>
    Box: <a href="/boxes/<%=@item.box.id%>"><%=@item.box.try(:name) || "N/A"%></a><br><br><br>

    <div class="button"><a href="/items/<%=@item.id%>/edit">Edit Item</a></div><br><br>
</div>