<h2>List of Your Items Sorted in the <%=@category.name.capitalize%> Category</h2>

<%@category.items.each do |item|%>
    <a href="/items/<%=item.id%>"><%=item.name.capitalize%></a><br>
    <%=item.box.name.try(:name) || "N/A"%><br><br>
<%end%>

<a href="/categories/<%=@category.id%>/edit">Edit Category</a><br><br>

<form action="/categories/<%=@category.id%>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Category">
</form>