<div class="reroute-text">
<h2>List of Your Items Sorted in the <%=@category.name.capitalize%> Category</h2>

<%@category.items.each do |item|%>
    <h3><a href="/items/<%=item.id%>"><%=item.name.capitalize%></a></h3>
    <h5><a href="/boxes/<%=item.box.id%>"><%=item.box.name.capitalize%></h5></a><br>
<%end%><br><br>

<form action="/items" method="POST">
    <label for=add_new_item>Add New Item</label>
    <input type="text" id="add_new_item" name="name">


<label>Box: </label>
        <select name="box_id">
            <%current_user.boxes.each do |box|%>
                <option value="<%=box.id%>"><%=box.name.capitalize%></option><br>
            <%end%>
        </select>


    <label>Category: </label>
        <select name="category_id">
            <option value="<%=@category.id%>"><%=@category.name.capitalize%></option>
        </select><br>
 
    <input type="submit" value="Submit"> 
</form><br><br>

<a href="/categories/<%=@category.id%>/edit">Edit Category</a><br><br>

</div>
